*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* HEADER AND NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Lato, sans-serif;
}

#logo {
    font-size: 40px;
    letter-spacing: 4px;
}

.main_nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.main_nav li {
    margin: 10px;
}

    /* HOME */

#home {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('resources/images/home_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.home_contents {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 7px;
    font-size: 30px;
}
.home_contents span {
    border: 2px solid white;
    padding: 6px;
    color: white;
}

.home_contents a {
    text-decoration: none;
}

.home_contents p {
    margin: 40px;
    letter-spacing: 3px;
    font-size: 25px;
}

h1 {
    font-weight: 300;
}


/* ABOUT ME AND SKILLS */

#about_me {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    padding: 80px 30px;
}

.skills img{
    height: 50px;
    width: 50px;
    margin: 10px 0;
}

.skill_contents {
    width: 50%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    
}

.about_me_contents {
    width: 50%;
    font-family: "Roboto Slab", serif;
}

.about_me_contents p {
    word-spacing: 4px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    text-align: justify;
}

.about_me_contents span {
    color: #0000c9;
}

h2 {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 500;
}
    /* PROJECTS */

#projects {
    height: 600px;
    width: 100%;
    background-color: #DCDCDC;
}

#projects h2 {
    padding-top: 80px;
    padding-bottom: 60px;
}

#project_contents {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin: 30px;
}

#projects img {
    height: 150px;
    width: 250px;
}

#project_contents figcaption {
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 20px;
}


    /* CONTACTS AND FOOTER */

#contact img {
    height: 100px;
    width: 100px;
}


#contact {
    display: block;
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 40px;
}

#contact p {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    margin: 10px;
}

#contact span {
    font-size: 25px;
    font-family: Lato, sans-serif;
    border: 2px solid black;
    padding: 4px;
    margin-top: 10px;
}


footer {
    height: 250px;
    width: 100%;
    background-color: black;
    display: block;
    text-align: center;
}

#social_links img {
    height: 50px;
    width: 50px;
    margin: 0 4px;

}

.to_home {
    height: 70px;
    width: 70px;
    margin: 20px 0;
}

#social_links {
    padding-top: 30px;
} 

footer span {
    color: white;
    font-family: Lato, sans-serif;
}


